body {
  margin: 0;
  font-family: sans-serif;
}

.navbar-home {
  background-color: green;
  margin: 0;
  height: 50px;
}

.brand {
  float: left;
  color: whitesmoke;
  text-align: center;
  font-weight: 100;
  margin: 8px 30px;
  text-decoration: none;
  font-size: 25px;
}

.btn-signup {
  float: right;
  font-weight: 100;
  border: none;
  text-decoration: none;
  margin: 8px 70px;
  color: whitesmoke;
  font-size: 25px;
}
