body {
  margin: 0;
  font-family: sans-serif;
}

.navbar-home {
  background-color: green;
  margin: 0;
  height: 50px;
}

.brand {
  float: left;
  color: whitesmoke;
  text-align: center;
  font-weight: 400;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 30px;
}

.btn-login {
  float: right;
  font-weight: 400;
  border: none;
  text-decoration: none;
  margin: 10px 100px;
  color: whitesmoke;
  font-size: 30px;
}
